body {
    background-color: #add8e6;
    display: flex;
    justify-content: center;

}

.container {
    background-color: white;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    min-width: 70%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: VistaSansBook;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

}

.sub-accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

}




@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(9deg)
    }

    50% {
        transform: rotate(18deg)
    }

    75% {
        transform: rotate(27deg)
    }

    75% {
        transform: rotate(36deg)
    }

    100% {
        transform: rotate(45deg)
    }

    img {
        color: red;

    }
}

img {
    color: red;
}

img.-active{
    animation: rotation 0.2s forwards;
}

img.-inactive{
    animation: rotation 0.2s backwards;
}

.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

@font-face {
    font-family: VistaSansBook;
    src: url(extras/fonts/VistaSansBook.woff);
}